---
import MainLayout from "@layouts/MainLayout.astro";

const allPosts = await Astro.glob("./posts/*.md");
---

<MainLayout>
  <div class="grid grid-cols-3 gap-4">
    {
      allPosts.map(({ frontmatter, url }) => (
        <a class="no-underline" href={url}>
          <div class="flex flex-col gap-2 p-6 shadow-md">
            <h2 class="text-2xl font-semibold">{frontmatter.title}</h2>
            <p>{frontmatter.description}</p>
          </div>
        </a>
      ))
    }
  </div>
</MainLayout>
