---
import MainLayout from "@layouts/MainLayout.astro";

const allPosts = await Astro.glob("./posts/*.md");
---

<MainLayout title="Blog">
  <section class="flex flex-col gap-8">
    {
      allPosts.map(({ frontmatter, url }) => (
        <a class="no-underline" href={url}>
          <div class="flex flex-col gap-2 p-6 shadow-md">
            <h2 class="m-0">{frontmatter.title}</h2>
            <p class="m-0 font-normal">{frontmatter.description}</p>
          </div>
        </a>
      ))
    }
  </section>
</MainLayout>
