---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Testimonials">
  <section class="flex flex-col gap-8">
    <div class="max-w-prose rounded-lg p-4 shadow-md">
      <p class="m-0 italic text-gray-600">
        Working with Rafael was such a great experience! He really took the time
        to understand what I wanted for the site and nailed it with a design
        that’s both updated and super easy to navigate. He was quick to answer
        my questions, kept me in the loop the whole time, and even went above
        and beyond with a few extra touches that made the site even better than
        I’d hoped. If you’re looking for someone who’s easy to work with and
        truly cares about the details, I can’t recommend Rafael enough!
      </p>
      <p class="mb-0 font-semibold">- Tiago Beiter, Omni Lawns</p>
    </div>
  </section>
</MainLayout>
