---
import omni from "@assets/omni.webp";
import work from "@assets/work.webp";
import { Image } from "astro:assets";
---

<section class="my-24 p-4" id="blog">
  <div class="text-center">
    <h2 class="text-4xl font-bold">Behind the Screens</h2>
    <p class="mt-8">
      Stories, struggles, and successes from my journey of building a web design
      business.
    </p>
  </div>
  <div
    class="mt-8 flex flex-wrap items-center justify-center gap-8 lg:justify-around"
  >
    <div class="max-w-sm overflow-hidden rounded-lg shadow-lg">
      <Image alt="" class="h-48 w-full object-cover" src={omni} />
      <div class="p-4">
        <h3 class="text-xl font-semibold">Omni Lawns and SoFlo Web Design</h3>
        <p class="mt-4 text-gray-600">
          Learn a bit about me, my first client, and the birth of SoFlo Web
          Design.
        </p>
        <a href="#" class="mt-4 block text-blue-500 hover:text-blue-700"
          >Read more &rsaquo;</a
        >
      </div>
    </div>
    <div class="max-w-sm overflow-hidden rounded-lg shadow-lg">
      <Image alt="" class="h-48 w-full object-cover" src={work} />
      <div class="p-4">
        <h3 class="text-xl font-semibold">Consistency pays off</h3>
        <p class="mt-4 text-gray-600">
          In just two weeks, I've learned a lot, and that's all thanks to
          consistency.
        </p>
        <a href="#" class="mt-4 block text-blue-500 hover:text-blue-700"
          >Read more &rsaquo;</a
        >
      </div>
    </div>
  </div>
</section>
