---
import skyline from "@assets/skyline.webp";
import { Image } from "astro:assets";
---

<section class="flex h-screen flex-col p-4">
  <header class="flex items-center justify-between">
    <p><a href="#">SoFlo Web Design</a></p>
    <button
      aria-label="Toggle Navigation"
      class="px-4 py-2 text-2xl text-black lg:hidden"
      id="menu-button"
    >
      ☰
    </button>
    <nav
      id="nav-menu"
      class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-90 lg:static lg:flex lg:bg-transparent"
    >
      <button
        id="close-button"
        class="absolute right-4 top-2 text-2xl font-bold text-black lg:hidden"
        aria-label="Close Navigation"
      >
        ✖
      </button>
      <ul
        class="flex flex-col items-center gap-6 text-center lg:flex-row lg:gap-4"
      >
        <li><a href="#about" class="hover:text-black">About</a></li>
        <li><a href="#" class="hover:text-black">Services</a></li>
        <li><a href="#portfolio" class="hover:text-black">Portfolio</a></li>
        <li><a href="#" class="hover:text-black">Testimonials</a></li>
        <li><a href="#" class="hover:text-black">Blog</a></li>
      </ul>
    </nav>
    <button
      class="hidden border border-black bg-black px-4 py-2 text-white lg:block"
    >
      Contact
    </button>
  </header>
  <div class="flex flex-1 flex-col">
    <div class="flex flex-1 items-center justify-center">
      <div class="max-w-prose text-center">
        <h1 class="text-5xl font-bold">
          Transforming Ideas into Stunning Websites
        </h1>
        <p class="mt-8">
          Our web design agency specializes in creating visually captivating and
          user-friendly websites tailored to your brand's unique needs. Let us
          help you elevate your online presence and engage your audience
          effectively.
        </p>
        <div class="mt-4 flex justify-center gap-4">
          <button class="border border-black bg-black px-4 py-2 text-white">
            Get Started
          </button>
          <button class="border border-black px-4 py-2 text-black">
            Learn More
          </button>
        </div>
      </div>
    </div>
    <div class="hidden flex-1 md:block">
      <Image
        alt=""
        class="h-full w-full rounded-lg object-cover shadow-md"
        src={skyline}
      />
    </div>
  </div>
</section>

<script>
  const menuButton = document.getElementById("menu-button") as HTMLElement;
  const closeButton = document.getElementById("close-button") as HTMLElement;
  const navMenu = document.getElementById("nav-menu") as HTMLElement;

  menuButton.addEventListener("click", () => {
    navMenu.classList.remove("hidden", "fade-out");
    navMenu.classList.add("fade-in");
  });

  closeButton.addEventListener("click", () => {
    navMenu.classList.remove("fade-in");
    navMenu.classList.add("fade-out");

    navMenu.addEventListener(
      "animationend",
      () => {
        navMenu.classList.add("hidden");
      },
      { once: true },
    );
  });
</script>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }

  .fade-out {
    animation: fadeOut 0.3s ease-in-out;
  }
</style>
