---

---

<section class="my-24 p-4" id="services">
  <div class="text-center">
    <h2 class="text-4xl font-bold">What I Bring To The Table</h2>
  </div>
  <div
    class="mt-8 flex flex-wrap items-center justify-center gap-8 lg:justify-around"
  >
    <div class="flex max-w-md flex-col justify-between text-center">
      <p class="text-5xl">🎨</p>
      <div class="flex flex-col justify-between p-4">
        <h3 class="text-xl font-semibold">Modern, Responsive Designs</h3>
        <div class="flex-1">
          <p class="mt-4 text-gray-600">
            I stay current with the latest trends and ensure your website is on
            par with the latest technologies.
          </p>
          <p class="mt-4 text-gray-600">
            By combining cutting-edge techniques with a deep understanding of
            user experience, I create websites that not only look great but also
            perform seamlessly across all devices, ensuring your audience stays
            engaged no matter how they connect.
          </p>
        </div>
      </div>
    </div>
    <div class="flex max-w-md flex-col justify-between text-center">
      <p class="text-5xl">💬</p>
      <div class="flex flex-col justify-between p-4">
        <h3 class="text-xl font-semibold">Communication Is Key</h3>
        <div class="flex-1">
          <p class="mt-4 text-gray-600">
            I pride myself on my communication skills and my fast response
            times. I put my clients first and ensure that their needs are met as
            quickly as possible.
          </p>
          <p class="mt-4 text-gray-600">
            By maintaining clear, open, and proactive communication throughout
            every step of the process, I make sure you’re always informed,
            involved, and confident in the progress of your project.
          </p>
        </div>
      </div>
    </div>
    <div class="flex max-w-md flex-col justify-between text-center">
      <p class="text-5xl">⚙️</p>
      <div class="flex flex-col justify-between p-4">
        <h3 class="text-xl font-semibold">The Works</h3>
        <div class="flex-1">
          <p class="mt-4 text-gray-600">
            I offer complete solutions to your problems with ongoing support for
            maintenance, feature enhancements, redesigns, toubleshooting and
            more.
          </p>
          <p class="mt-4 text-gray-600">
            From the initial concept to the final launch and beyond, I’m here to
            ensure your website evolves with your business, keeping it fresh,
            functional, and aligned with your goals.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
