---
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
---

<MainLayout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>Published on: {frontmatter.date.toString().slice(0, 10)}</p>
  <p>Written by {frontmatter.author}</p>
  <slot />
</MainLayout>
