---
import "@styles/globals.css";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SoFlo Web Design</title>
  </head>
  <body class="h-screen">
    <main class="container mx-auto flex flex-col px-4 pb-4">
      <header
        class="items-left flex h-20 flex-col justify-center sm:flex-row sm:items-center sm:justify-between"
      >
        <h1><a href="/">SoFlo Web Design</a></h1>
        <nav>
          <ul class="flex items-center gap-4">
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
            <li>
              <a href="mailto:rafael.negron@sofloweb.design">Contact</a>
            </li>
          </ul>
        </nav>
      </header>
      <section class="flex-grow">
        <slot />
      </section>
    </main>
  </body>
</html>

<ViewTransitions />
